{% extends "dash/base_dash.html" %}

{% load dash_filters %}

{% block mystylesheet %}
    <link rel="stylesheet" href="/mymedia/css/styleMati.css" type="text/css" />
{% endblock mystylesheet%}

{% block menuOptionsSelected %}
    <ul class="menu-options">
        <li class="menu-item"><a href="/dash/dashboard/">Dashboard</a></li>
        <li class="menu-item"><a href="/dash/logbook/">Logbook</a></li>
        <li class="menu-item"><a href="/dash/topicos/">Topicos</a></li>
    </ul>
{% endblock menuOptionsSelected %}


{% block dashboard %}
    <div class="logbook_follow">
        <p>Solicitar seguimiento de Usuario para poder visualizar la actividad del mismo.</p>
    </div>

{% endblock dashboard %}

{% block sidebar %}
    <div class="sidebar-content">
        <div class="sidebar-user">
            <div class="user-name">{{ user_to_follow.first_name }} {{ user_to_follow.last_name }}</div>
            <div class="user-stars">
                <ul>
                    <li class="user-star"><img src="/mymedia/images/item-ratings.png" alt="Star" /></li>
                    <li class="user-star"><img src="/mymedia/images/item-ratings.png" alt="Star" /></li>
                    <li class="user-star"><img src="/mymedia/images/item-ratings.png" alt="Star" /></li>
                    <li class="user-star"><img src="/mymedia/images/item-ratings.png" alt="Star" /></li>
                    <li class="user-star"><img src="/mymedia/images/item-ratings.png" alt="Star" /></li>
                    <li class="user-star"><img src="/mymedia/images/item-ratings.png" alt="Star" /></li>
                </ul>
            </div>
        </div>
        <div class="sidebar-stadistic">
            <div class="stadistic-fan sidebar-stadistic-item">
                <div class="stadistic-num">{{ user_to_follow.persona.items.count }}</div>
                <div class="stadistic-nom">Fan{% if user_to_follow.persona.items.count > 1 %}s{% endif %}</div>
            </div>
            <div class="stadistic-recomendations sidebar-stadistic-item">
                <div class="stadistic-num">##</div>
                <div class="stadistic-nom">Recomendaciones</div>
            </div>
            <div class="stadistic-comments sidebar-stadistic-item">
                <div class="stadistic-num">{{ user_to_follow.comentario_set.count }}</div>
                <div class="stadistic-nom">Comentario{% if user.comentario_set.count > 1 %}s{% endif %}</div>
            </div>
        </div>
        <div class="sidebar-follow-user">
            <a href="/dash/follow/request/{{ user_to_follow.id }}"><div class="follow-buttom-mati">Seguir Usuario</div></a>
        </div>
        <div class="clear"></div>
    </div>
{% endblock sidebar %}
