{% extends "dash/logbook.html" %}


{% block menuOptionsSelected %}
    <ul class="menu-options">
        <li class="menu-item"><a href="/dash/dashboard/">Dashboard</a></li>
        <li class="menu-item-selected"><a href="/dash/logbook/">Logbook</a></li>
        <li class="menu-item"><a href="/dash/topicos/">Topicos</a></li>
    </ul>
{% endblock menuOptionsSelected %}


{% block dashboard %}
    <div class="item-messages">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="result-result">
        <div class="result-content">
<!--
            <div class="result-header">
                <div class="result-name">Usuarios ({{ user.persona.following.count }})</div>
            </div>
-->
            <div class="result-body">
                {% for user in user.persona.following.all %}
                        <div class="result-hit">
                            <a href="/dash/logbook/{{ user.id }}">
                                <div class="result-image">
                                    {% if user.persona.avatar %}
                                        <img src="{{ user.persona.avatar.url_50x50 }}" alt="Logo" />
                                    {% else %}
                                        {% if user.persona %}
                                            {% if user.persona.sexo == "M" %}
                                                <img src="/mymedia/images/avatar-male.png" alt="Logo" />
                                            {% else %}
                                                <img src="/mymedia/images/avatar-famale.png" alt="Logo" />
                                            {% endif%}
                                        {% else %}
                                                <img src="/mymedia/images/020.png" alt="Logo" />
                                        {% endif%}
                                    {% endif%}
                                </div>
                            </a>
                            <a href="/dash/logbook/{{ user.id }}">
                                <div class="result-descripcion">{{ user.first_name }} {{ user.last_name }}</div>
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock dashboard %}
