{% extends "dash/base_dash.html" %}

{% load dash_filters %}

{% block mystylesheet %}
    <link rel="stylesheet" href="/mymedia/css/style-icon-images.css" type="text/css" />
{% endblock mystylesheet%}

{% block menuOptionsSelected %}
    <ul class="menu-options">
        <li class="menu-item"><a href="/dash/dashboard/">Dashboard</a></li>
        <li class="menu-item"><a href="/dash/logbook/">Logbook</a></li>
        <li class="menu-item"><a href="/dash/topicos/">Topicos</a></li>
    </ul>
{% endblock menuOptionsSelected %}


{% block dashboard %}
    <div class="item-messages">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="dashboard-list-items">
        {% for item in user.persona.items.all %}
            <div class="item-content">
                <div class="item-header">
                    <div class="item-topico-{{ item.topico|unicode|split:" "|first|lower }}"></div>
                    <div class="item-nombre"><a href="/items/item/{{ item.id }}">{{ item }}</a></div>
                    <div class="item-score">
                        <img src="/mymedia/images/dashboard-content-item-header-score.png" class="item-score-image" alt="Score">
                        {{ item.persona_set.count }}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item-body">
                    <div class="item-image"></div>
                    <div class="item-descripcion">{{ item.descripcion|truncatewords:70 }}</div>
                    <div class="clear"></div>
                </div>
                <div class="item-footer">
                    <div class="item-topico">{{ item.topico }}</div>
                    <div class="item-buttons">
                        <a href="/items/fan/{{ item.id }}" ><img src="/mymedia/images/item-button-fan.png" alt="Fan" /></a>
                        <a href="#" ><img src="/mymedia/images/item-button-recomendar.png" alt="Recomendar" /></a>
                        <a href="/items/unfan/{{ item.id }}" ><img src="/mymedia/images/item-buttom-unFan.png" alt="Unfan" /></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock dashboard %}

{% block sidebar %}
    <div class="sidebar-content">
        <div class="sidebar-user">
            <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="user-stars">* * * * *</div>
        </div>
        <div class="sidebar-stadistic">
            <a href="/dash/fans/">
                <div class="stadistic-fan sidebar-stadistic-item">
                    <div class="stadistic-num">{{ user.persona.items.count }}</div>
                    <div class="stadistic-nom">Fan</div>
                </div>
            </a>
            <div class="stadistic-recomendations sidebar-stadistic-item">
                <div class="stadistic-num">##</div>
                <div class="stadistic-nom">Recomendaciones</div>
            </div>
            <div class="stadistic-comments sidebar-stadistic-item">
                <div class="stadistic-num">##</div>
                <div class="stadistic-nom">Comentarios</div>
            </div>
        </div>
        <div class="sidebar-menu-indicators">
            <div class="menu-indicators">Mensajes (#)</div>
            <div class="menu-indicators">Eventos (#)</div>
            <div class="menu-indicators">Notificaciones (#)</div>
        </div>
        <div class="sidebar-new-item">
            <a href="#"><div class="new-item-buttom">Crear Item</div></a>
        </div>
        <div class="clear"></div>
    </div>
{% endblock sidebar %}
