{% extends "dash/base_ayuda.html" %}

{% load dash_filters %}


{% block mystylesheet %}
    <link rel="stylesheet" href="/mymedia/css/style-icon-images.css" type="text/css" />
    <link rel="stylesheet" href="/mymedia/css/styleMati.css" type="text/css" />
{% endblock mystylesheet%}

{% block messages %}
{% endblock messages %}

{% block body-help %}
    <p class="help-titles">Preguntas</p>
    <ol>
        <a href="#1"><li class="help-question">¿Qué es FanME?</li><a>
        <a href="#2"><li class="help-question">¿Cómo me registro?</li><a>
        <a href="#3"><li class="help-question">¿Qué datos necesito para crear una Cuenta?</li><a>
        <a href="#4"><li class="help-question">¿Cómo hago si soy un Particular o una Empresa?</li><a>
        <a href="#5"><li class="help-question">¿Cómo hago para que me recomiende?</li><a>
        <a href="#6"><li class="help-question">¿Qué tan exactas son las recomendaciones? ¿Como recomienda?</li><a>
        <a href="#7"><li class="help-question">¿Qué significan las estrellas en FanME?</li><a>
        <a href="#8"><li class="help-question">¿Cómo cada usuario puede aportar conocimiento a FanME?</li><a>
        <a href="#9"><li class="help-question">¿Cómo modifico los datos de mi Perfil?</li><a>
        <a href="#10"><li class="help-question">¿Cómo desactivar mi Cuenta?</li><a>
        <a href="#11"><li class="help-question">¿Cómo puedo seguir a una Empresa?</li><a>
        <a href="#12"><li class="help-question">¿Qué es el Dashboard?</li><a>
        <a href="#13"><li class="help-question">¿Cómo modifico los datos de mi Perfil?</li><a>
        <a href="#14"><li class="help-question">¿Qué son las recomendaciones?</li><a>
        <a href="#15"><li class="help-question">¿Qué son los Usuarios que Sigo?</li><a>
        <a href="#16"><li class="help-question">¿Qué son los Usuarios que me Siguen?</li><a>
        <a href="#17"><li class="help-question">¿Cómo creo un Evento?</li><a>
        <a href="#18"><li class="help-question">¿Cómo cancelo un Evento?</li><a>
        <a href="#19"><li class="help-question">¿Cómo agrego invitados a un Evento?</li><a>
        <a href="#20"><li class="help-question">¿Qué significa hacerme Fan?</li><a>
        <a href="#21"><li class="help-question">¿Cómo puedo buscar un Producto o Servicio?</li><a>
        <a href="#22"><li class="help-question">¿Qué es el Logbook?</li><a>
        <a href="#23"><li class="help-question">¿Qué datos me muestra el Logbook?</li><a>
        <a href="#24"><li class="help-question">¿Cómo agrego una foto a mi Perfil?</li><a>
        <a href="#25"><li class="help-question">¿Cómo cambio mi foto?</li><a>
        <a href="#26"><li class="help-question">¿Cómo se ordenan los ítems?</li><a>
        <a href="#27"><li class="help-question">¿Qué son las Notificaciones?</li><a>
        <a href="#28"><li class="help-question">¿Cómo creo una Notificación?</li><a>
        <a href="#29"><li class="help-question">¿Cómo crear un Producto?</li><a>
        <a href="#30"><li class="help-question">¿Qué datos necesito para crear un Producto?</li><a>
        <a href="#31"><li class="help-question">¿Cómo se actualizan las recomendaciones?</li><a>
        <a href="#32"><li class="help-question">¿Cómo enviarles consultas a las Empresas?</li><a>
        <a href="#33"><li class="help-question">¿Cómo obtener promociones de Empresas?</li><a>
        <a href="#34"><li class="help-question">¿Qué se pude comentar?</li><a>
        <a href="#35"><li class="help-question">¿Cómo comentar?</li><a>
        <a href="#36"><li class="help-question">¿Cómo eliminar un comentario?</li><a>
        <a href="#37"><li class="help-question">¿Cómo denunciar un comentario?</li><a>
        <a href="#38"><li class="help-question">¿Cómo aumento mi credibilidad?</li><a>
        <a href="#39"><li class="help-question">¿Cómo se agrupan los mensajes?</li><a>
        <a href="#40"><li class="help-question">¿Cómo veo los mensajes que le envié a un Usuario?</li><a>
    </ol>

    <p class="help-titles">Respuestas</p>
    <ol>
        <a name="1"><li>¿Qué es FanME?</li><a>
        <a name="2"><li>¿Cómo me registro?</li><a>
        <a name="3"><li>¿Qué datos necesito para crear una Cuenta?</li><a>
        <a name="4"><li>¿Cómo hago si soy un Particular o una Empresa?</li><a>
        <a name="5"><li>¿Cómo hago para que me recomiende?</li><a>
        <a name="6"><li>¿Qué tan exactas son las recomendaciones? ¿Como recomienda?</li><a>
        <a name="7"><li>¿Qué significan las estrellas en FanME?</li><a>
        <a name="8"><li>¿Cómo cada usuario puede aportar conocimiento a FanME?</li><a>
        <a name="9"><li>¿Cómo modifico los datos de mi Perfil?</li><a>
        <a name="10"><li>¿Cómo desactivar mi Cuenta?</li><a>
        <a name="11"><li>¿Cómo puedo seguir a una Empresa?</li><a>
        <a name="12"><li>¿Qué es el Dashboard?</li><a>
        <a name="13"><li>¿Cómo modifico los datos de mi Perfil?</li><a>
        <a name="14"><li>¿Qué son las recomendaciones?</li><a>
        <a name="15"><li>¿Qué son los Usuarios que Sigo?</li><a>
        <a name="16"><li>¿Qué son los Usuarios que me Siguen?</li><a>
        <a name="17"><li>¿Cómo creo un Evento?</li><a>
        <a name="18"><li>¿Cómo cancelo un Evento?</li><a>
        <a name="19"><li>¿Cómo agrego invitados a un Evento?</li><a>
        <a name="20"><li>¿Qué significa hacerme Fan?</li><a>
        <a name="21"><li>¿Cómo puedo buscar un Producto o Servicio?</li><a>
        <a name="22"><li>¿Qué es el Logbook?</li><a>
        <a name="23"><li>¿Qué datos me muestra el Logbook?</li><a>
        <a name="24"><li>¿Cómo agrego una foto a mi Perfil?</li><a>
        <a name="25"><li>¿Cómo cambio mi foto?</li><a>
        <a name="26"><li>¿Cómo se ordenan los ítems?</li><a>
        <a name="27"><li>¿Qué son las Notificaciones?</li><a>
        <a name="28"><li>¿Cómo creo una Notificación?</li><a>
        <a name="29"><li>¿Cómo crear un Producto?</li><a>
        <a name="30"><li>¿Qué datos necesito para crear un Producto?</li><a>
        <a name="31"><li>¿Cómo se actualizan las recomendaciones?</li><a>
        <a name="32"><li>¿Cómo enviarles consultas a las Empresas?</li><a>
        <a name="33"><li>¿Cómo obtener promociones de Empresas?</li><a>
        <a name="34"><li>¿Qué se pude comentar?</li><a>
        <a name="35"><li>¿Cómo comentar?</li><a>
        <a name="36"><li>¿Cómo eliminar un comentario?</li><a>
        <a name="37"><li>¿Cómo denunciar un comentario?</li><a>
        <a name="38"><li>¿Cómo aumento mi credibilidad?</li><a>
        <a name="39"><li>¿Cómo se agrupan los mensajes?</li><a>
        <a name="40"><li>¿Cómo veo los mensajes que le envié a un Usuario?</li><a>
    </ol>
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}
