{% extends "profiles/base_profile.html" %}

{% block title%}Editar Perfil Publico DIN{% endblock title%}

{% block dropdown %}
    <li><a href="{% url profile %}">Mi DIN</a></li>
    <li class="divider"></li>
    <li><a href="{% url nice_profiles_profile_detail user.username %}">Ver Perfil Publico DIN</a></li>
    <li class="divider"></li>
    <li><a href="/accounts/logout">Salir</a></li>
{% endblock dropdown %}

{% block content %}
    <div class="row">
        <div class="span10 offset1">
            <div id="content">
                <div class="row">
                    <div class="span8 offset1">
                        <div id="edit-title" class="well">
                            <h1 class="">Editar mi Perfil DIN</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span8 offset1">
                        <div id="edit-subtitle" class="alert alert-success">
                            <h3 class="">Estos son los datos que definen tu perfil público en DIN. Podés pasar el enlace a tu perfil para que te conozcan.</h3>
                            <h4 class=""><strong><em>http://comunidaddin.org{% url nice_profiles_profile_detail user.username %}</em></strong></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span8 offset1">
                        <div class="well">
                            <div class="row">
                                <div class="span6 offset1">
                                        <form method='post' action='' enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.non_field_errors }}
                                            <table>
                                                {% for field in form %}
                                                    <tr>
                                                        <td>{{ field.label }}</td>
                                                        <td><span>{{ field.errors }}</span>{{ field }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <div class="centrado">
                                                <button type="submit" class="btn btn-success">Guardar</button>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}