{% extends "profiles/base_profile.html" %}

{% block title%}Lista de Perfiles{% endblock title%}

{% block scripts %}{% endblock scripts %}

{% block css %}{% endblock css %}

{% block Brand %}{% endblock Brand %}

{% block container-class %}blanco{% endblock container-class %}

{% block modal %}
    <div class="row row-separation">
        <div class="span8 offset2">
                <div class="alert">
                    <a class="close" data-dismiss="alert">×</a>
                    Bienvenido <strong>{{ user }}</strong>.
                </div>
        </div>
    </div>
{% endblock modal%}

{% block content %}
    <div class="row row-separation">
        <div class="span8 offset2">
                <h1 class="centrado border-bottom">Perfiles DIN</h1>
        </div>
    </div>
    <div class="row row-separation">
        <div class="span8 offset2">
            <div class="reset-padding">
                <div class="row">
                    <div class="span6 offset1">
                        <p>profile_list: {{ profile_list }}</p>
                        <p>is_paginated: {{ is_paginated }}</p>
                        <p>paginator: {{ paginator }}</p>
                        <p>page_obj: {{ page_obj }}</p>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endblock content %}
