{% extends "dash/dashboard.html" %}

{% block menuOptionsSelected %}
    <ul class="menu-options">
        <li class="menu-item"><a href="/dash/dashboard/">Dashboard</a></li>
        <li class="menu-item"><a href="/dash/logbook/">Logbook</a></li>
        <li class="menu-item"><a href="/dash/topicos/">Topicos</a></li>
    </ul>
{% endblock menuOptionsSelected %}

{% block dashboard %}
    <div class=''>
        <h1 class=''>Eventos creados</h1>
        {% if eventos_creados %}
            <div class=''>
                {% for evento in eventos_creados %}
                    <a href='/social/evento/{{ evento.id }}'>
                        <div class=''>
                            {{ evento.descripcion }} <span class=''>el {{ evento.fecha_inicio }}</span> <span class=''>creado por {{ evento.creador.creador.first_name }}</span>
                            <a href="/social/evento/edit/{{ evento.id }}"><span>editar</span></a>
                        </div>
                    </a>
                {% endfor%}
            </div>
        {% else %}
            <div class=''>No creaste ningun evento</div>
        {% endif %}
    </div>
    <div class=''>
        <h1 class=''>Eventos como invitado</h1>
        {% if eventos_invitado %}
            <div class=''>
                {% for evento in eventos_invitado %}
                    <a href='/social/evento/{{ evento.id }}'>
                        <div class=''>
                            {{ evento.descripcion }} <span class=''>el {{ evento.fecha_inicio }}</span> <span class=''>creado por {{ evento.creador.creador.first_name }}</span>
                        </div>
                    </a>
                {% endfor%}
            </div>
        {% else %}
            <div class=''>No estas ningun evento</div>
        {% endif %}
    </div>
{% endblock dashboard %}

{% block crear %}
    <a href="/social/nuevo/"><div class="new-item-buttom">Crear Evento</div></a>
{% endblock %}
