{% extends "dash/dashboard.html" %}

{% load dash_filters %}

{% block myjavascript %}
    <script language="javascript" src="/mymedia/js/myutils.js"></script>
{% endblock myjavascript %}

{% block mystylesheet %}
    <link rel="stylesheet" href="/mymedia/css/styleMati.css" type="text/css" />
{% endblock mystylesheet%}

{% block menuOptions %}
    <div class="header-menu-options">
        {% block menuOptionsSelected %}
            <ul class="menu-options">
                <li class="menu-item"><a href="/dash/dashboard/">Dashboard</a></li>
                <li class="menu-item"><a href="/dash/logbook/">Logbook</a></li>
                <li class="menu-item"><a href="/dash/topicos/">Topicos</a></li>
            </ul>
        {% endblock menuOptionsSelected %}
    </div>
{% endblock menuOptions %}

{% block dashboard %}
    <div class="title-messages">Mensajes</div>
    {% for message in mensajes %}
        <div class="item-content-mess-event">
            <div class="message-body">
                <div class="message-usuario">
                </div>
            </div>
            <div class="message-user-subject">
                {{ message.user_from.first_name }} dijo:
            </div>
            <div class="message-user-fecha">
                {{ message.fecha }}
            </div>
            <div class="message-descripcion">
                {{ message.mensaje|truncatewords:30 }}
            </div>
        </div>
    {% endfor %}
    <div class="message-line-response">
        <hr size=1 class="message-line">
        <p class="message-answer">Responder:</p>
    </div>
    <div class="new-message">
        <form method="post">{% csrf_token %}
            <div class="message-content-response">
                    {{ form_response_message.mensaje.errors }}
                    {{ form_response_message.mensaje }}
            </div>
            <input type="submit" value="Responder" class="message-response-button"/>
        </form>
    </div>
{% endblock dashboard %}

