<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="/mymedia/css/style.css" type="text/css" />
        <title>{% block title %}FanME{% endblock %}</title>
        <script language="javascript" src="/mymedia/js/jquery-1.6.2.min.js"></script>
        {% block mystylesheet %}{% endblock %}
        {% block myjavascript %}{% endblock %}
    </head>
    <body {% block bodystuff %}{% endblock%}>
        <!-- Begin Conteiner -->
        <div class='conteiner'>
            <!-- Begin Header -->
            <div class='header'>
                <div class="accounts-header-image">
                    <a href="/"><img src="/mymedia/images/logo.png" alt="Logo" /></a>
                </div>
                {% block header %}
                    {% block menuArea %}
                        <div class="header-menu-area">
                            {% block searchBox %}{% endblock searchBox %}
                            {% if user.is_authenticated %}
                                {% block menuOptions %}{% endblock menuOptions %}
                                <div class="logged-user">
                                    {{ user.first_name }} <a href='/accounts/logout/'>salir</a>
                                </div>
                            {% else %}
                                {% block header_login %}
                                    <div class="header-login-form">
                                        <form action="/accounts/login/" method="post">{% csrf_token %}
                                            <ul>
                                                {{ form_login.as_ul }}
                                            </ul>
                                            <input type="submit" value="Ingresar" class="submit"/>
                                        </form>
                                    </div>
                                {% endblock header_login %}
                            {% endif %}
                        </div>
                    {% endblock menuArea %}
                {% endblock header%}
            <div class="clear"></div>
            <!-- End Header -->
            </div>
            <!-- Begin Content -->
            <div class='content'>
                {% block content %}{% endblock%}
            <div class="clear"></div>
            <!-- End Content -->
            </div>
            <!-- Begin Footer -->
            <div class='footer'>
                {% block footer %}
                    <div class="footer-line-divisor">
                        <img src="/mymedia/images/footer-line-divisor.png" alt="Footer Line Divisor" />
                    </div>
                    <!-- Eso deberia ser dinamico -->
                    <div class="footer-links">
                        <a href="#">Ayuda</a> |
                        <a href="#">Sobre Nosotros</a> |
                        <a href="#">Condiciones</a> |
                        <a href="#">Copyright</a>
                    </div>
                {% endblock%}
            <div class="clear"></div>
            <!-- End Footer -->
            </div>
        <div class="clear"></div>
        <!-- End Conteiner -->
        </div>
        <div class="clear"></div>
    </body>
</html>
