.custom-hero-unit {
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 10px;
}

.dashboard-item-description {
    height: 60px;
    padding: 0px 10px 10px;
    width: 300px;
    text-align: justify;
}

.side-bar-content{
    height: 320px;
    margin-left: 40px;
    margin-top: 115px;
    width: 200px;
}

.upper-bar{
    margin-left: 27px;
    margin-top: 30px;
    width: 644px;
}

.container-fluid .row-fluid [class*="span"] {
    margin-left: 1%;
}

/*Item section*/
    .thumbnail.right-caption > img {
        float: left;
        margin-right: 9px;
        width: 200px;
        height: 200px;
    }

    .thumbnail.right-caption {
        float: left;
    }

    .thumbnail.right-caption > .caption {
        padding: 4px;
    }

    .item-title{
        margin-top: 5px;
        margin-left: 60px;
        float: left;
    }

    .item-score-image{
        margin-right:5px;
        margin-top: -2px;
        display: inline-block;
    }

    .item-descripcion-big{
        height: 80px;
        margin: 0 20px 0 220px;
        text-align: justify;
        width: 912px;
    }

    .item-all-images{
        float: right;
        height: 30px;
        margin: 22px -7px 0;
        width: 718px;
    }

    .item-description{
        width: 760px;
        margin-left:240px;
        text-align: justify;
    }

    .item-buttons{
        float: right;
        margin-right: 15px;
        margin-top: 35px;
    }

    .h3-title-margin-left{
        margin-left: 10px;
    }

    .item-all-locals{
        float: right;
        height: 30px;
        margin: 0 15px;
        width: 723px;
    }

/*End Item section*/
