.custom-hero-unit {
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 10px;
}

.dashboard-item-description {
    height: 60px;
    padding: 0px 10px 10px;
    width: 300px;
    text-align: justify;
}

.side-bar-content{
    box-shadow: 0 0 10px #000000;
    height: 320px;
    margin-left: -110px;
    margin-top: 146px;
    width: 200px;
    position: fixed;
}

.upper-bar{
    margin-left: 20px;
    margin-top: 30px;
}

.container-fluid .row-fluid [class*="span"] {
    margin-left: 1%;
}

/*Item section*/
    .thumbnail.right-caption > img {
        float: left;
        margin-right: 9px;
        width: 200px;
        height: 200px;
    }

    .thumbnail.right-caption {
        float: left;
    }

    .thumbnail.right-caption > .caption {
        padding: 4px;
    }

    .item-title{
        margin-left: 60px;
        float: left;
        font-size: 24px;
        line-height: 40px;
        color: #317EAC;
        font-family: 'Telex',sans-serif;
        font-weight: bold;
    }
    .item-title:hover { text-shadow: 1px 4px 4px #646464; text-decoration: none;}
    .item-score-image{
        margin-right:5px;
        margin-top: -2px;
        display: inline-block;
    }

    .item-descripcion-big{
        height: 80px;
        margin: 0 20px 0 220px;
        text-align: justify;
        width: 912px;
    }

    .item-all-images{
        float: right;
        height: 30px;
        margin: 22px 10px 0;
        width: 700px;
    }

    .item-description{
        width: 750px;
        margin-left:240px;
        text-align: justify;
    }

        .item-description-dashboard
        {
            float: right;
            margin-right: 8px;
            text-align: justify;
            width: 400px;
        }

    .item-buttons{
        float: right;
        margin-right: 15px;
        margin-top: 35px;
    }

        .item-buttons-dashboard
        {
            float: right;
            margin-right: 15px;
        }

    .h3-title-margin-left{
        margin-left: 10px;
    }

    .item-all-locals{
        float: right;
        height: 30px;
        margin: 0 15px;
        width: 723px;
    }

/*End Item section*/

/*Logbook section*/

.user-name
{
    color: #317EAC;
    font-family: 'Telex',sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 5px 30px;
}

    .user-name-link:hover {text-decoration: none;}

.logbook-item-description
{
    font-family: 'Telex',sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
}

/*End Logbook section*/
