{% extends "bussiness/dash_empresa.html" %}

{% block dashboard %}
    <div class="title-messages">Mensajes</div>
    {% for message in mensajes_recibidos %}
        <div class="item-content-mess-event">
            <div class="message-body">
                <div class="message-usuario">
                </div>
            </div>
            <a href="/social/company_response_message/{{ message.id }}">
                <div class="message-user-subject">
                    {{ message.first_name }}
                </div>
            </a>
            <div class="message-descripcion">
                {{ message.mensaje|truncatewords:30 }}
            </div>
        </div>
    {% endfor %}
{% endblock dashboard %}
