{% extends "dash/empresa.html" %}

{% block mystylesheet-dashboard %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/codebase/dhtmlxcalendar.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/codebase/skins/dhtmlxcalendar_dhx_skyblue.css"></link>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styleMati.css" type="text/css" />
{% endblock mystylesheet-dashboard %}

{% block myjavascript %}
    <script src="{{ STATIC_URL }}js/codebase/dhtmlxcalendar.js"></script>
    <script language="javascript" src="{{ STATIC_URL }}js/myutils.js"></script>
    <script>
        var myCalendar;
        function doOnLoad() {
            var myCalendar = new dhtmlXCalendarObject(["id_fecha_expiracion", "id_fecha_desde"]);
            myCalendar.setDateFormat(FANMEDATETIMEFORMAT);
        }
    </script>
{% endblock myjavascript %}

{% block bodystuff %}
    onload="doOnLoad();"
{% endblock %}

{% block dashboard %}
    <div class="title-messages">Editar notificacion</div>
    <div class="notifications-content">
        <div class="form-new-notification">
            <form action="/social/notificacion/edit/{{ notificacion.id }}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="new-notification-clear"></div>
                <div class="content-form-notification">
                    {{ form.nombre.errors }}
                    <label for="id_user_to_id" class="notification-name-label">Nombre:</label>
                    {{ form.nombre }}
                </div>
                <div class="new-notification-clear"></div>
                <div class="content-form-notification">
                    {{ form.fecha_desde.errors }}
                    <label for="fecha_desde" class="notification-date-desde-label">Fecha inicio:</label>
                    {{ form.fecha_desde}}
                    <label style="margin-left: 115px;">Formato: dd/mm/aaaa hh:mm<label>
                </div>
                <div class="new-notification-clear"></div>
                <div class="content-form-notification">
                    {{ form.fecha_expiracion.errors }}
                    <label for="fecha_expiracion" class="notification-date-label">Fecha fin:</label>
                    {{ form.fecha_expiracion }}
                    <label style="margin-left: 115px;">Formato: dd/mm/aaaa hh:mm<label>
                </div>
                <div class="new-notification-clear"></div>
                <div class="content-form-notification">
                    {{ form.descripcion.errors }}
                    <label for="fecha_expiracion" class="notification-description-label">Descripcion:</label>
                    {{ form.descripcion }}
                </div>
                <div class="new-notification-clear"></div>
                <div class="content-form-notification">
                    {{ form.usuarios_to.errors }}
                    <label for="fecha_expiracion" class="notification-users-label">Invitados:</label>
                    {{ form.usuarios_to }}
                </div>
                <div class="new-notification-clear"></div>
                <div class="content-form-notification-imagen">
                    {{ form.imagen.errors }}
                    <label for="fecha_expiracion" style="margin-left:-5px!important;"></label>
                    {{ form.imagen }}
                </div>
                <div class="new-notification-clear"></div>
                <div style="float:right;">
                    <input type="submit" value="Guardar" class="algo" style="margin-right: 25px;" />
                    <input type="button" value="Cancelar" class="item-cancelar-registracion" style="margin-right: 25px; margin-left: -20px;" onclick="location.href='/social/notificaciones';">
                </div>
            </form>
        </div>
    </div>
{% endblock dashboard %}

{% block crear %}
{% endblock %}
