{% extends "dash/dashboard.html" %}

{% block mystylesheet-dashboard %}
    <link rel="stylesheet" href="/mymedia/css/styleMati.css" type="text/css" />
{% endblock mystylesheet-dashboard%}

{% block menuOptionsSelected %}
    <ul class="menu-options">
        <li class="menu-item"><a href="/dash/dashboard/">Dashboard</a></li>
        <li class="menu-item"><a href="/dash/logbook/">Logbook</a></li>
        <li class="menu-item"><a href="/dash/topicos/">Topicos</a></li>
    </ul>
{% endblock menuOptionsSelected %}

{% block dashboard %}
    <div class="eventos-content">
    {% if no_hay_eventos %}
        <div class='eventos-titulo'>Eventos</div>
        No has creado ningun evento. <a href="/social/nuevo/" style="text-decoration: none;">¿Que esperas hacerlo?</a>
        <div class="new-message"></div>
    {% else %}
        {% if eventos_creados %}
            <div class='eventos-titulo'>Eventos creados</div>
            <div class='eventos-list'>
                {% for evento in eventos_creados %}
                    <div class='i-content'>
                        <div class="i-title">
                                {{ evento.nombre }}   {{ evento.fecha_inicio }}
                                <div class="i-title-options">
                                    <a href="/social/evento/edit/{{ evento.id }}" title="Editar este evento"><div class="i-title-options-edit"></div></a>
                                    <a href="/social/evento/delete/{{ evento.id }}" title="ELIMINAR este evento"><div class="i-title-options-delete"></div></a>
                                </div>
                        </div>
                        <div class="i-body">
                            <a href='/social/evento/{{ evento.id }}'>{{ evento.descripcion }}</a> creado por tí.
                        </div>
                    </div>
                {% endfor%}
            </div>
        {% endif %}
        {% if eventos_invitado %}
            <div class='eventos-titulo'>Eventos como invitado</div>
            <div class='eventos-list'>
                {% for evento in eventos_invitado %}
                    <div class='i-content'>
                        <div class="i-title"> {{ evento.fecha_inicio }} </div>
                        <div class="i-body">
                            <a href='/social/evento/{{ evento.id }}'>{{ evento.descripcion }}</a>
                             creado por <a href="/dash/logbook/{{ evento.creador.id }}">{{ evento.creador.first_name }} {{ evento.creador.last_name }}</a>.
                        </div>
                    </div>
                {% endfor%}
            </div>
        {% endif %}
    {% endif %}
    </div>
{% endblock dashboard %}

{% block crear %}
    <a href="/social/nuevo/"><div class="new-item-buttom">Crear Evento</div></a>
{% endblock %}
