{% extends "dash/dashboard.html" %}

{% load dash_filters avatar_tags %}

{% block myjavascript %}
    <script language="javascript" src="{{ STATIC_URL }}js/myutils.js"></script>
{% endblock myjavascript %}

{% block mystylesheet-dashboard %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styleMati.css" type="text/css" />
{% endblock mystylesheet-dashboard%}


{% block dashboard %}
    <div class="eventos-content">
        <div class='eventos-titulo'>Mensajes por usuario</div>
        <div class="list-content-user-messages">
            {% if usuarios %}
                <ul>
                    {% for usuario in usuarios %}
                        <li class="content-user-messages">
                            <div class="user-message-image">
                                <img src="{% avatar_url usuario 50 %}" alt="">
                            </div>
                            <div class="user-message-name"><a href="/social/messages_user/{{ usuario.id }}">{{ usuario.first_name }} {{ usuario.last_name }}</a></div>
                            <div class="user-message-last"></div>
                            <div class="clear"></div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                No tienes ningun mensaje recibido
            {% endif %}
        </div>
        <div class="new-message">
            <form action="/social/new_message/">
                <input type="submit" value="Nuevo mensaje" class="submit"/>
            </form>
        </div>
    </div>
{% endblock dashboard %}



