{% extends "bussiness/dash_empresa.html" %}

{% block mystylesheet-dashboard %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styleMati.css" type="text/css" />
{% endblock mystylesheet-dashboard%}

{% block dashboard %}
    <div class="title-messages">Consultas</div>
    <div class="list-content-user-messages">
        <ul>
            {% for consulta in consultas_recibidas %}
                <li class="content-user-messages">
                    <div class="user-message-image">
                        {% if consulta.mis_imagenes.count %}
                            <img src="{{ consulta.first_image }}" alt="Score">
                        {% else %}
                            <img src="{{ STATIC_URL }}images/298.png" alt="Score">
                        {% endif %}
                    </div>
                    <div class="user-message-name">
                        <a href="/social/ver_consultas_item/{{ consulta.id }}">
                            {{ consulta.nombre }}
                        </a>
                    </div>
                    <div class="user-message-last"></div>
                    <div class="clear"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock dashboard %}
