{% extends "bussiness/dash_empresa.html" %}

{% block mystylesheet-dashboard %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styleMati.css" type="text/css" />
{% endblock mystylesheet-dashboard%}

{% block menuOptionsSelected %}
    <ul class="menu-options">
        <li class="menu-item"><a href="/bussiness/dash_empresa/">Dashboard</a></li>
        <li class="menu-item"><a href="/bussiness/planes/">Planes</a></li>
    </ul>
{% endblock menuOptionsSelected %}

{% block dashboard %}
    <div class="title-messages">Consultas</div>
    <div class="list-content-user-messages">
        <ul>
            {% for consulta in consulta_item %}
                <li class="content-user-messages">
                    <div class="user-message-image">
                        {% if usuario.persona.avatar %}
                                <img src="{{ usuario.persona.avatar.url_50x50 }}" alt="Logo" />
                        {% else %}
                            {% if usuario.persona %}
                                {% if user.sexo == "M" %}
                                    <img src="{{ STATIC_URL }}images/avatar-male.png" alt="Logo" />
                                {% else %}
                                    <img src="{{ STATIC_URL }}images/avatar-famale.png" alt="Logo" />
                                {% endif%}
                            {% else %}
                                    <img src="{{ STATIC_URL }}images/020.png" alt="Logo" />
                            {% endif%}
                        {% endif%}
                    </div>
                    <div class="user-message-name">
                        {{ consulta.mensaje }}
                    </div>
                    <div class="user-message-last"></div>
                    <div class="clear"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock dashboard %}
