{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}
<title>{% trans  "Activacion Fallida" %}</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <div class="alert alert-info">
            <h2>{% trans "La activacion Fallo" %}</h2>
            <p>{% trans "Su clave de activacion fallo" %}: {{ activation_key }}</p>
        </div>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}
