{% extends "registration/base_registration.html" %}

{% block title %}Activation Complete{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row row-separation">
    <div class="span8 offset2">
        <div class="alert alert-success">
            <h1>Se ha activado tu cuenta con exito</h1>
            <h2>Ya formas parte de FanME</h2>
            <p>Puedes <a href='{% url auth_login %}'>ingresar</a> con el usuario y contraseña que te registraste.</p>
        </div>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}
