{% extends "registration/base_registration.html" %}

{% block title %}
<title>Activacion completada</title>
{% endblock %}

{% block container %}
<div class="row row-separation">
    <div class="span8 offset2">
        <div class="alert alert-success">
            <h1>Se ha activado tu cuenta con exito.</h1>
            <h2>Ya formas parte de FanME.</h2>
            {% url auth_login as urlLogin %}
            <p>Puedes <a href='{{urlLogin}}'> ingresar</a> con el usuario y contraseña que te registraste.</p>
        </div>
    </div>
</div>
{% endblock container %}
