{% extends "registration/base_registration.html" %}

{% block title %}
<title>Ingresar al sistema</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="span4 offset4">
        <h1>Ingresá al sitema</h1>
        <h2>Y comenzá a recibir recomendaciones de FanME</h2>
    </div>
</div>
<div class="row">
    <div class="span4 offset4">
        <form method="post" action="{% url django.contrib.auth.views.login %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Ingresar</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="span4 offset4">
        <ul class="unstyled">
            <li>¿ <a href="{% url auth_password_reset %}">Olvidaste</a> tu contraseña?</li>
            <li>¿Quieres crear una <a href='{% url registration_register %}'>nueva cuenta</a>?</li>
        </ul>
    </div>
</div>
{% endblock container %}
