{% extends "registration/base_registration.html" %}

{% block title %}
<title>Cerrar Sesion</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="span20">
        <div class="alert alert-success">
            <h1>Tu cuenta se ha cerrado con éxito</h1>
            <h2>Puedes seguir navegando</h2>
            <!--TODO: Agregar el trans al href-->
            <p>Puedes volver a <a href='{% url "auth_login" %}'>ingresar</a> si lo deseas.</p>
        </div>
    </div>
</div>
{% endblock container %}



