{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Cerrar Sesion" %}</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <div class="alert alert-success">
            <h1>{% trans "Tu cuenta se ha cerrado con éxito"%}</h1>
            <h2>{% trans "Puedes seguir navegando" %}</h2>
            <!--TODO: Agregar el trans al href-->
            <p>Puedes volver a <a href='{% url auth_login %}'>ingresar</a> si lo deseas.</p>
        </div>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}



