{% extends "registration/base_registration.html" %}

{% block title %}
<title>Resetear Contraseña</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="span12">
        <h1>¿Olvidaste tu contraseña?</h1>
        <h2>Ingresa tu mail para restablecer una contraseña nueva</h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method='post' action=''>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>
{% endblock container %}