{% extends "registration/base_registration.html" %}

{% block title %}
<title>{% trans "Cambio de Contraseña" %}</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="span20">
        <div class="alert alert-success">
            <h1>Se ha cambiado tu contraseña con exito</h1>
            <!--TODO: Agregar el trans al href-->
            <p>Puedes <a href='{% url auth_login %}'>ingresar</a> con el usuario y contraseña que te registraste.</p>
        </div>
    </div>
</div>
{% endblock container %}

