{% extends "base.html" %}

{% block title %}
<title>Password change form</title>
{% endblock %}

{% block Brand %}{% endblock Brand %}

{% block content %}
    <div class="row row-separation">
        <div class="span8 offset2">
            <h1>Completa el formulario</h1>
            <h2>para cambiar la contraseña</h2>
        </div>
    </div>
    <div class="row row-separation">
        <div class="span7 offset2">
            <form method='post' action=''>
                {% csrf_token %}
                {% include "form_snippet.html" %}
                <div class="">
                    <button type="submit" class="btn btn-success">Cambiar contraseña</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

------------------

{% extends "registration/base_registration.html" %}

{% block title %}
<title>Activacion de la cuenta</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <h1>Completa el formulario</h1>
        <h2>para cambiar la contraseña</h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method='post' action=''>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Cambiar contraseña</button>
        </form>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}
