{% extends "registration/base_registration.html" %}

{% block title %}
<title>Activacion de la cuenta</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="span12">
        <h1>Completa el formulario</h1>
        <h2>para cambiar la contraseña</h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method='post' action=''>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Cambiar contraseña</button>
        </form>
    </div>
</div>
{% endblock container %}
