{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Cambio de contraseña" %}</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span20">
        <h1>{% trans "Restablecer tu contraseña" %}</h1>
        <h2>{% trans "Ingresa tu nueva contraseña" %}</h2>
    </div>
</div>
<div class="row">
    <div class="span20">
        <form method='post' action=''>
            {% csrf_token %}
            {{ form }}
            <div><button type="submit" class="btn btn-success">{% trans "Enviar"%}</button></div>
        </form>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}


