{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Cambio de Contraseña finalizado" %}</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <div class="alert alert-success">
            <h1>{% trans "Tu contraseña ha sido restablecida" %}</h1>
            <!--TODO: Agregar el trans al href-->
            <p>Puedes <a href='{% url auth_login %}'>ingresar</a> con el usuario y contraseña que te registraste.</p>
        </div>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}



