{% extends "registration/base_registration.html" %}

{% block title %}
<title>Cambio de Contraseña finalizado</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="span20">
        <div class="alert alert-info">
            <h2>Su solicitud ha sido enviada con éxito</h2>
            <h3>Revisa tu correo electronico</h3>
            <p>Se ha enviado un email a tu correo, con un enlace para reestrablecer tu contraseña.</p>
        </div>
    </div>
</div>
{% endblock container %}