{% extends "registration/base_registration.html" %}

{% block title %}
<title>Password reset done</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <div class="alert alert-info">
            <h2>Su solicitud ha sido enviada con éxito</h2>
            <h3>Revisa tu correo electronico</h3>
            <p>Se ha enviado un email a tu correo, con un enlace para reestrablecer tu contraseña.</p>
        </div>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}
