{% extends "registration/base_registration.html" %}

{% block title %}
<title>Password change done</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <div class="alert alert-success">
            <h1>Se ha cambiado tu contraseña con exito</h1>
            <p>Puedes <a href='{% url auth_login %}'>ingresar</a> con el usuario y contraseña que te registraste.</p>
        </div>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}

