{% extends "registration/base_registration.html" %}

{% block title %}
<title>Password reset confirm</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <h1>Restablecer tu contraseña</h1>
        <h2>Ingresa tu nueva contraseña</h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method='post' action=''>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}


