{% extends "base.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Cambio de Contraseña" %}</title>
{% endblock %}

{% block Brand %}{% endblock Brand %}

{% block content %}
    <div class="row row-separation">
        <div class="span8 offset2">
            <h1>{% trans "Completa el formulario" %}</h1>
            <h2>{% trans "para cambiar la contraseña" %}</h2>
        </div>
    </div>
    <div class="row row-separation">
        <div class="span7 offset2">
            <form method='post' action=''>
                {% csrf_token %}
                {% include "form_snippet.html" %}
                <div class="">
                    <button type="submit" class="btn btn-success">{% trans "Cambiar contraseña" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

------------------

{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Activacion de la cuenta"%}</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <h1>{% trans "Completa el formulario" %}</h1>
        <h2>{% trans "para cambiar la contraseña" %}</h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method='post' action=''>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">{% trans "Cambiar contraseña" %}</button>
        </form>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}
