{% extends "registration/base_registration.html" %}

{% block title %}
<title>Registration complete</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <div class="alert alert-info">
            <h2>Su información ha sido enviada con éxito</h2>
            <h3>Estás a un paso de formar parte de la comunidad</h3>
            <p>Se ha enviado un email a tu cuenta, con una confirmación de la cuenta, una vez confirmada, ya formas parte de FanME</p>
        </div>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}