{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Registrate en FanME!" %}</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span12">
        <h1>{% trans "Crear una cuenta de Usuario" %}</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method='post' action=''>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">{% trans "Enviar" %}</button>
        </form>
    </div>
</div>
{% endblock container %}

{% block footer %}{% endblock footer %}

{% block extrajs %}{% endblock extrajs %}

