{% extends "registration/base_registration.html" %}

{% block title %}
<title>Registracion completada</title>
{% endblock %}

{% block description %}{% endblock description %}

{% block extracss %}{% endblock extracss %}

{% block container %}
<div class="row">
    <div class="span8 offset2">
        <div class="alert alert-info">
            <h2>Su información ha sido enviada con éxito.</h2>
            <h3>Estás a un paso de formar parte de la comunidad de FanME.</h3>
            <p>Se ha enviado un email a tu cuenta, con una confirmación de la cuenta.</p>
        </div>
    </div>
</div>
{% endblock container %}
