{% extends "registration/base_registration.html" %}

{% block title %}
<title>Registrate en FanME!</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="span12">
        <h1>Crear una cuenta de Usuario</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method='post' action=''>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>
{% endblock container %}