{% extends "items/base_items.html" %}

{% load dash_filters %}

{% block mystylesheet %}
    <link rel="stylesheet" href="/mymedia/css/style-icon-images.css" type="text/css" />
{% endblock mystylesheet%}

{% block menuOptionsSelected %}
    <ul class="menu-options">
        <li class="menu-item"><a href="/dash/dashboard/">Dashboard</a></li>
        <li class="menu-item"><a href="/dash/logbook/">Logbook</a></li>
        <li class="menu-item"><a href="/dash/topicos/">Topicos</a></li>
    </ul>
{% endblock menuOptionsSelected %}

{% block item %}
    <div class="item-content">
        <div class="item-header">
            <div class="item-topico-{{ item.topico|unicode|split:" "|first|lower }}"></div>
            <div class="item-nombre">{{ item }}</div>
            <div class="item-score">
                <img src="/mymedia/images/dashboard-content-item-header-score.png" class="item-score-image" alt="Score">
                ##
            </div>
            <div class="clear"></div>
        </div>
        <div class="item-body">
            <div class="item-image-big"></div>
            <div class="item-descripcion-big">{{ item.descripcion }}</div>
            <div class="item-image-all"></div>
            <div class="clear"></div>
        </div>
        <div class="item-footer">
            <div class="item-details">
                <div class="stadistic-fan sidebar-stadistic-item">
                    <div class="stadistic-num">##</div>
                    <div class="stadistic-nom">Fan</div>
                </div>
                <div class="stadistic-fan sidebar-stadistic-item">
                    <div class="stadistic-num">##</div>
                    <div class="stadistic-nom">Recomendaciones</div>
                </div>
            </div>
            <div class="item-buttons">
                <a href="#" ><img src="/mymedia/images/item-button-fan.png" alt="Fan" /></a>
                <a href="#" ><img src="/mymedia/images/item-button-recomendar.png" alt="Recomendar" /></a>
                <a href="#" ><img src="/mymedia/images/item-button-recomendar.png" alt="Recomendar" /></a>
                <a href="#" ><img src="/mymedia/images/item-button-recomendar.png" alt="Recomendar" /></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock item %}

{% block extra %}
{% endblock extra %}

{% block comments %}
{% endblock comments %}
