{% extends "items/base_items.html" %}

{% load dash_filters %}

{% block mystylesheet %}
    <link rel="stylesheet" href="/mymedia/css/style-icon-images.css" type="text/css" />
{% endblock mystylesheet%}

{% block menuOptionsSelected %}
    <ul class="menu-options">
        <li class="menu-item"><a href="/dash/dashboard/">Dashboard</a></li>
        <li class="menu-item"><a href="/dash/logbook/">Logbook</a></li>
        <li class="menu-item"><a href="/dash/topicos/">Topicos</a></li>
    </ul>
{% endblock menuOptionsSelected %}

{% block item %}
    <div class="item-content">
        <div class="item-header">
            <div class="item-topico"></div>
            <div class="item-nombre">Nuevo Item</div>
            <div class="item-score">
            </div>
            <div class="clear"></div>
        </div>
        <div class="item-body">
            <div class="item-image-big"></div>
            <div class="item-descripcion-big"></div>
            <div class="item-image-all">
                <ul class="image-list">
                    <li class="image-little"></li>
                    <li class="image-little"></li>
                    <li class="image-little"></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="item-footer">
            <div class="item-details">
                <div class="stadistic-fan sidebar-stadistic-item">
                    <div class="stadistic-num">##</div>
                    <div class="stadistic-nom">Fan</div>
                </div>
                <div class="stadistic-fan sidebar-stadistic-item">
                    <div class="stadistic-num">##</div>
                    <div class="stadistic-nom">Recomendaciones</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock item %}

{% block extra %}
    <div class="extra-tags"></div>
    <div class="extra-links">
        <p>Lo podés conseguir en:</p>
        <div class="item-image-all">
            <ul class="image-list">
                <li class="image-little"></li>
                <li class="image-little"></li>
                <li class="image-little"></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
{% endblock extra %}
