{% extends "bussiness/dash_empresa.html" %}

{% load bussiness_filter %}

{% block mystylesheet %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styleMati.css" type="text/css" />
{% endblock mystylesheet%}

{% block menuOptions %}
{% if user.persona %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li><a href="{% url 'logbook' %}">Logbook</a></li>
<li><a href="{% url 'topicos' %}">Topicos</a></li>
{% else %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="active" ><a href="/bussiness/dash_planes/">Planes</a></li>
{% endif %}
{% endblock menuOptions %}

{% block dashboard %}
<div class="row">
    <div class="page-header">
        <h1>Plan actual</h1>
    </div>
    <div class="well">
        {% if not posee_plan %}
        <h2 class="text-danger">{{ message }}</h2>
        {% else %}
        <h2>Su plan vigente es: <strong class="text-success">{{ plan.plan.nombre }}</strong></h2>
        <h3>Le quedan  <strong class="text-primary">{{ plan.plan.cant_items|restar:plan.item.count }}</strong> items por registrar su enlace.</h3>
        {% endif %}
    </div>
</div>
{% endblock dashboard %}
