/**
 * CSS - Stylistic CSS Styles
 */

/* General */
html{
    font-size: 12px;
}
head{}
body{}

/* Begin Conteiner */
.conteiner{}

    /* Begin Header */
    .header {
        background: #ECECEC;
        border-bottom: 1px solid #979797;
        overflow: hidden;
        box-shadow: 0 1px 1px #979797;-webkit-box-shadow: 0 1px 1px #979797;-moz-box-shadow: 0 1px 1px #979797;
    }
        .accounts-header-image { float: left; margin: 5px 0 1px 30px; }


        /* Begin for Header Register */
/*
        .accounts-header-login{ float: left; margin: 18px 0 0 500px; }
*/
        .header-login-form { margin-left: 550px; margin-top: 17px;}
        .header-login-form ul li { float: left; list-style: none; margin-right: 10px;}
        .header-login-form ul li input {
            border: 1px solid #BBBBBB;
            color: #BBBBBB;
            height: 26px;
        }
        .header-login-form .submit { height: 29px; }


        /* End for Header Register */
    /* End Header */

    /* Begin Content */
    .content{ overflow: hidden; margin: 0 auto; width: 880px; }

        /* Begin for Content Register */
        .accounts-register-welcome-image{ float: left; padding: 80px 0 0 20px; }
        .accounts-register-form{ float: left; padding: 100px 35px; }
            .accounts-register-form-title {
                color: #E44D24;
                font-size: 15px;
                font-weight: bold;
                background: url("/mymedia/images/register-form-title-shadow.png") no-repeat center bottom;
                height: 35px;
            }
                .form-title{ background: white; height: 31px; }
            .accounts-register-form-field {
                border: 1px solid #BBBBBB;
                color: #BBBBBB;
                height: 26px;
                width: 100%;
            }
            .accounts-register-form-field:focus { box-shadow: 0px 0px 6px #ff6600; }
            .accounts-register-form .errorlist {
                list-style: none;
                padding: 0px;
                font-size: 10px;
                color: red;
                margin-bottom: -10px;
            }
                .form-register-eres-empresa {
                    color: grey;
                    font-size: 11px;
                    font-style: italic;
                    text-decoration: none;
                }
            #password-clear {
                display: none;
            }
            .accounts-register-form .submit {
                float: right;
                border: none;
                padding: 8px 6px 8px;
                color: white;
                background: url("/mymedia/images/register-form-submit-bg.png") no-repeat scroll 0 0 transparent;
            }
            .accounts-thanks-welcome-image{ text-align: center; }
            .accounts-thanks{ color: gray; margin: 50px; text-align: center;}
            
        /* End for Content Register */

    /* End Content */

    /* Begin Footer */
    .footer{ margin: 15px 0 0 0px; }
        .footer-line-divisor{ text-align: center; }
        .footer-links{ margin: 10px 0 0 0; text-align: center; }
            .footer-links a { text-decoration: none; color: black; }
    /* End Footer */

/* End Conteiner */
.clear{
    clear: both;
}
