/**
 * CSS - Stylistic CSS Styles
 */

/* General */
html{
    font-size: 12px;
}
head{}
body{}

/* Begin Conteiner */
.conteiner{}

    /* Begin Header */
    .header {
        background: #ECECEC;
        border-bottom: 1px solid #979797;
        overflow: hidden;
        box-shadow: 0 1px 1px #979797;-webkit-box-shadow: 0 1px 1px #979797;-moz-box-shadow: 0 1px 1px #979797;
    }
        .accounts-header-image { float: left; margin: 5px 0 1px 30px; }


        /* Begin for Header Register */
        .header-menu-area { float: left;}
            /* Begin Login form */
            .header-login-form { margin: 0 0 0 420px; width: 450px;}
            .header-login-form ul li { float: left; list-style: none; margin-right: 10px;}
            .header-login-form ul li input {border: 1px solid #BBBBBB;color: #BBBBBB;height: 26px;}
            .header-login-form ul li ul.errorlist {
                font-size: 10px;
                color: red;
                margin-top: -11px;
            }
            .header-login-form ul li:first-child ul.errorlist { margin: -12px -184px 0 0; }
            .header-login-form .submit { height: 29px; }
            /* End Login form */
            /* User Logged */
            .logged-user {
                color: #4F4F4F;
                float: left;
                font-weight: bold;
                margin: 19px 0 0 190px;
            }
            .logged-user a{ text-decoration: none; color: #4f4f4f; font-weight: normal;}
            /* begin to delete */
/*
            .menu-options ul { list-style: none; }
            .menu-options ul li { float: left; margin-right: 15px; Background: green;}
            .menu-options ul li a{ text-decoration: none;}
*/
            /* end to delete */
            .header-search-box{ float: left; margin: 0px 0px 0px 35px;}
                .header-seach-form-field{
                    background: url("/mymedia/images/header-searchbox-lupa.png") no-repeat 229px 6px white;
                    border: 1px solid grey;
                    height: 26px;
                    width: 250px;
                }
            .header-menu-options{ float: left; }
                .menu-options{ list-style: none;}
                .menu-options li{ float: left; height: 22px; width: 80px; padding: 7px 0 0 6px;}
                .menu-options li a{ text-decoration: none; }
                    .menu-item-selected{
                        background: url("/mymedia/images/header-menu-item-selected.png") no-repeat scroll 0 0 transparent;
                    }
                    .menu-item-selected a{ color: white; font-weight: bold;}
                    li.menu-item-selected a{ color: white;}
                    .menu-item{}
                    li.menu-item a { color: #4F4F4F; }
            /* End User Logged */

        /* End for Header Register */
    /* End Header */

    /* Begin Content */
    .content{ overflow: hidden; margin: 0 auto; width: 880px; }

        /* Begin for Content Register */
        .accounts-register-welcome-image{ float: left; padding: 80px 0 0 20px; }
        .accounts-register-form{ float: left; padding: 100px 35px; }
            .accounts-register-form-title {
                color: #E44D24;
                font-size: 15px;
                font-weight: bold;
                background: url("/mymedia/images/register-form-title-shadow.png") no-repeat center bottom;
                height: 35px;
            }
                .form-title{ background: white; height: 31px; }
            .accounts-register-form-field {
                border: 1px solid #BBBBBB;
                color: #BBBBBB;
                height: 26px;
                width: 100%;
            }
            .accounts-register-form-field:focus { box-shadow: 0px 0px 6px #ff6600; }
            .accounts-register-form .errorlist {
                list-style: none;
                padding: 0px;
                font-size: 10px;
                color: red;
                margin-bottom: -10px;
            }
                .form-register-eres-empresa {
                    color: grey;
                    font-size: 11px;
                    font-style: italic;
                    text-decoration: none;
                }
            #password-clear {
                display: none;
            }
            .accounts-register-form .submit {
                float: right;
                border: none;
                padding: 8px 6px 8px;
                color: white;
                background: url("/mymedia/images/register-form-submit-bg.png") no-repeat scroll 0 0 transparent;
            }
            .accounts-thanks-welcome-image{ text-align: center; }
            .accounts-thanks{ color: gray; font-size: 15px; margin: 16px 10px; text-align: center;}
        /* End for Content Register */
        /* Begin Dashboard */
        .content-dashboard{}
        /* End Content Dashboard */
        /* Begin Sidebar */
        .content-sidebar{}
        /* End Sidebar */
    /* End Content */

    /* Begin Footer */
    .footer{ margin: 15px 0 0 0px; }
        .footer-line-divisor{ text-align: center; }
        .footer-links{ margin: 10px 0 0 0; text-align: center; }
            .footer-links a { text-decoration: none; color: black; }
    /* End Footer */

/* End Conteiner */
.clear{
    clear: both;
}
