{% extends "base.html" %}

{% block myjavascript %}
    <script language="javascript" src="{{ STATIC_URL }}js/myutils.js"></script>
{% endblock myjavascript %}

{% block searchBox %}
    <div class="header-search-box">
        <form action="/dash/results/" method="post">{% csrf_token %}
            {{ form_search.as_p}}
            <!--<input type="submit" value="Registrate" class="submit"/>-->
        </form>
    </div>
{% endblock searchBox %}

{% block content %}
    <div class="content-item">
        {% block item %}
        {% endblock item %}
    </div>
    <div class="content-extra">
        {% block extra %}
        {% endblock extra %}
    </div>
    <div class="content-comments">
        {% block comments %}
        {% endblock comments %}
    </div>
{% endblock%}
