{% extends "admin/base_site.html" %}
{% load is_false_filter %}

{% block title %}'FanMe' | {{ site_title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">FanMe</a></h1>
{% endblock %}

{% block nav-global %}
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/pnotify-1.2.0/jquery.pnotify.default.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}js/pnotify-1.2.0/use for pines style icons/jquery.pnotify.default.icons.css<" type="text/css" />
<script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/pnotify-1.2.0/jquery.pnotify.js"></script>
<script>
{% if mostrar_form|is_false %}
$(function () {
        $('#items').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Fans por Item'
            },
            yAxis: {
                title: {
                    text: 'Cant. fans'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ 'Fans por item' +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {% for item, cant_fans in fans_por_item.items %}
                    {
                        name: '{{item}}',
                        data: [{{cant_fans}}]
                    },
                {% endfor %}
            ]
        });
    });
{% endif %}
</script>
<script>
function myFunction()
{
    var cant = document.getElementsByName('cant')[0].value
    if (cant == 0 || cant == null)
    {
        $.pnotify({
                title: 'Error',
                text: 'Debe ingresar una cantidad de ítems.',
                type: 'Error',
                hide: true
                });
    }
    else{
        window.location.assign("/admin/informes/item_fanes/" + cant);
    }
}
</script>
{% endblock extrahead %}

{% block content %}
{% if mostrar_form %}
<div>
    Cant. Items: <input type="text" name="cant" />
    <button onclick="myFunction()">Aceptar</button>
</div>
{% endif %}
<div id="items" style="width:100%; height:400px;"></div>
{% endblock content %}

