{% extends "dash/base_dash.html" %}

{% block dashboard %}
    <div class="page-header">
      <h1>Analisis de denuncia</h1>
      <h2><small><a href="{% url 'analisisdenuncias' %}">Volver a la lista</a></small></h2>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Denuncia a {{ object.content_type }}</div>
        <div class="panel-body">
            <p>La denuncia se realiza para el siguiente {{ object.content_type }}:</p>
            <p><strong>{{object.content_object}}</strong></p>
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        {% if not field.is_hidden %}
                        <label for="{{ field.id_for_field }}" class="control-label">{{ field.label_tag }}:</label>
                        {% endif %}
                        {{ field }}
                        <span class="help-block">{{ field.errors }}</span>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
{% endblock dashboard %}

{% block sidebar %}
{% include "dash/sidebar.html" %}
{% endblock sidebar %}

{% block footer %}
    {% include "dash/footer.html" %}
{% endblock%}