{% extends "accounts/base_accounts.html" %}

{% block register_form %}
    <div class="accounts-register-form-title">
        <div class="form-title">Crear una cuenta de Usuario</div>
    </div>
    <form action="/accounts/user/" method="post">{% csrf_token %}
        {{ form_register.as_p }}
        <p>
            <input id="password-clear" type="text" value="Password" autocomplete="off" class="accounts-register-form-field"/>
        </p>
        <a href="/accounts/company/" class="form-register-eres-empresa">¿Eres una empresa?</a>
        <input type="submit" value="Registrate" class="submit"/>
    </form>
{% endblock %}
