{% extends "base.html" %}
{% load i18n %}

{%block header%}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">FanME</a>
            <div class="nav-collapse">
                {% if user.is_authenticated %}
                <form action="" class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                <ul class="nav pull-left">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Logbook</a></li>
                    <li><a href="#">Topicos</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="{% url profile %}"><img src="..." heigh="100" width="100" alt="Avatar" class="img-rounded"></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Opciones<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="/accounts/edit_profile"><i class="icon-edit"></i> Editar Perfil</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">...</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url auth_logout %}"><i class="icon-off"></i> Salir</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                {% if form.errors %}
                    <p>Your username and password didn't match, please try again.</p>
                {% endif %}
                <div class="pull-right">
                    <form class="navbar-form pull-left" method="post" action="/" id="login_form">{% csrf_token %}
                        <input class="span2" type="text" name="username" placeholder="Nombre de usuario" id="username">
                        <input class="span2" type="password" name="password" placeholder="Contraseña" id="password">
                        <input class="btn btn-success" type="submit" value="Login" id="button"/>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{%endblock header%}

{% block footer %}
<footer class="container">
    <div class="row">
        <div class="span18 offset3">
            <hr>
            <ul class="inline">
                <li><a href="#">Ayuda</a></li>
                <li>¿FanME?</li>
                <li>Copyright 2012</li>
                <li><p>&copy; FanME copyright 2012</p></li>
            </ul>
        </div>
    </div>
</footer>
{% endblock footer %}
