{% extends "base_menu.html" %}

{% block title %}
<title>Item</title>
{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/fanme_heritage.css">
{% endblock extracss %}

{% block description %}{% endblock description %}

{% block central-content %}
<div class="item-messages">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="item-content-mati">
        <div class="item-header">
            <div class="item-topico"></div>
            <div class="item-nombre">Nuevo Item</div>
            <div class="item-score">
            </div>
            <div class="clear"></div>
        </div>
        <div class="item-body">
            <div class="item-registration">
                <form action="/items/item/register/" method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form_register.as_p }}
                    <input type="submit" value="Crear Item" class="item-registration-submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock central-content %}

{% block extrajs %}
{% endblock extrajs %}
