{% extends "dash/base_dash.html" %}

{% block mystylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style-icon-images.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styleMati.css" type="text/css" />
{% endblock mystylesheet%}


{% block menuOptionsSelected %}
    {% if user.is_authenticated %}
        <ul class="nav nav-pills header-tab">
          <li><a href="/dash/dashboard/">Dashboard</a></li>
          <li><a href="/dash/logbook/">Logbook</a></li>
          <li><a href="/dash/topicos/">Topicos</a></li>
        </ul>
    {% endif %}
{% endblock menuOptionsSelected %}

{% block dashboard %}
    <div class="title-messages-help">Ayuda</div>
    <div class="help-content">
        <div class="help-content-left-bar">
            <image src="{{ STATIC_URL }}images/ayuda/buscar.png" width="40" height="40">
            <p class="help-content-label">Buscar</p>
        </div>
        <div class="help-clear"></div>
        <div class="help-content-left-bar">
            <image src="{{ STATIC_URL }}images/ayuda/temas_de_ayuda.jpg" width="40" height="40">
            <a href="/dash/temas_de_ayuda">
                <p class="help-content-label">Temas de Ayuda</p>
            </a>
        </div>
        <div class="help-clear"></div>
        <div class="help-content-left-bar">
            <image src="{{ STATIC_URL }}images/ayuda/preguntas_mas_frecuentes.jpg" width="40" height="40">
            <a href="/dash/preguntas_mas_frecuentes">
                <p class="help-content-label">Preguntas más frecuentes</p>
            </a>
        </div>
        <div class="help-content-body">
            {% block body-help %}
            {% endblock %}
        </div>
    </div>
{% endblock dashboard %}

{% block sidebar %}
<div style="position:fixed;">
</div>
{% endblock sidebar %}
