{% extends "dash/dashboard.html" %}

{% load dash_filters %}

{% block mystylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styleMati.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/codebase/dhtmlxcalendar.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/codebase/skins/dhtmlxcalendar_dhx_skyblue.css"></link>
{% endblock mystylesheet%}

{% block myjavascript %}
    <script src="{{ STATIC_URL }}js/codebase/dhtmlxcalendar.js"></script>
    <script language="javascript" src="{{ STATIC_URL }}js/myutils.js"></script>
    <script language="javascript">
        function comparePass() {
            var new_pass = document.getElementById('id_new_pass').value;
            var confirm_pass = document.getElementById('id_confirm_pass').value;
            if(confirm_pass == '')
            {
                alert("Debe confirmar la nueva contraseña");
                document.getElementById('my-form').onsubmit = function() {
                    return false;
                }
            }
            else if(new_pass != confirm_pass)
            {
                alert("La nueva contraseña no coincide");
                document.getElementById('my-form').onsubmit = function() {
                    return false;
                }
            }
            else{
                document.getElementById('my-form').onsubmit = function() {
                    return true;
                }
            }
        }
    </script>
{% endblock myjavascript %}

{% block content %}
    <div class="edit-text">
        <p>Cambiar Contraseña</p>
    </div>
    <div class="edit-account">
        <div class="edit-pass-content">
            <div class="edit-pass-form">
                <form action="/dash/edit_pass/" method="post" id="my-form">{% csrf_token %}
                    <div class="edit-pass-content-label">
                        {{ form_update.actual_pass.errors }}
                        <label for="id_actual_pass" class="edit-pass-content-label1">Contraseña Actual:</label>
                        {{ form_update.actual_pass }}
                    </div>
                    <div class="edit-pass-content-label">
                        {{ form_update.new_pass.errors }}
                        <label for="id_new_pass" class="edit-pass-content-label1">Contraseña Nueva:</label>
                        {{ form_update.new_pass }}
                    </div>
                    <div class="edit-pass-content-label">
                        <label class="edit-pass-content-label"">Confirmar contraseña:</label>
                        <input class="edit-account-form-field" type="password" id="id_confirm_pass" />
                    </div>
                    <input onclick="comparePass()" type="submit" value="Guardar" class="edit-pass-save"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}
