{% extends "dash/base_dash.html" %}


{% block mystylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styleMati.css" type="text/css" />
{% endblock mystylesheet%}

{% block dashboard %}
<div class="row">
    <div class="page-header">
        <h1>Items asociados a {{ empresa.razon_social }}</h1>
    </div>
    {% if items_plan %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    Productos
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for item in items_plan %}
                <div class="col-md-2">
                    <div class="thumbnail">
                        {% if item.mis_imagenes.count %}
                            <img src="{{ item.first_image_little }}" alt="Score">
                        {% else %}
                            <img src="{{ STATIC_URL }}images/298.png" alt="Score">
                        {% endif %}
                        <div class="caption">
                            <small>{{ item.nombre }}</small>
                            <p><a href="/items/item/{{ item.id }}" class="btn btn-primary" role="button">Detalle</a></p>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <p>No se encontraron productos</p>
                {% endfor %}
            </div>
        </div>
        <!--
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    footer
                </div>
            </div>
        </div>
        -->
    </div>
    {% else %}
    <p>{{ empresa.razon_social }} no registró ningun producto</p>
    {% endif %}
</div>
{% endblock dashboard %}

{% block sidebar %}
    {% include "dash/sidebar_logbook_empresa.html" %}
{% endblock sidebar %}


{% block pepe %}
<div class="sidebar-content">
    <div class="sidebar-user">
        <div class="user-name">{{ user_logbook.first_name }} {{ user_logbook.last_name }}</div>
        <div class="logbook-user-image">
            {% if user_logbook.persona.avatar %}
                <img src="{{ user_logbook.persona.avatar.url_100x100 }}" alt="Logo" />
            {% else %}
                {% if user_logbook.persona %}
                    {% if user_logbook.persona.sexo == "M" %}
                        <img src="{{ STATIC_URL }}images/avatar-male.png" alt="Logo" />
                    {% else %}
                        <img src="{{ STATIC_URL }}images/avatar-famale.png" alt="Logo" />
                    {% endif%}
                {% else %}
                        <img src="{{ STATIC_URL }}images/020.png" alt="Logo" />
                {% endif%}
            {% endif%}
        </div>

        <div class="user-stars">
            <ul>
                {% for estrella in user_logbook.persona.cantidad_estrellas %}
                <li class="user-star"><img src="{{ STATIC_URL }}images/item-ratings.png" alt="Star" /></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="sidebar-stadistic">
        <div class="stadistic-fan sidebar-stadistic-item" title="Podés consultar de que items sos Fan">
            <div class="stadistic-num">{{ empresa.user.followers.count }}</div>
            <div class="stadistic-nom">Fans</div>
        </div>
        <div class="stadistic-recomendations sidebar-stadistic-item" title="Podés consultar cuantas recomendaciones hiciste y a quien">
            <div class="stadistic-num">#</div>
            <div class="stadistic-nom">Recomendaciones</div>
        </div>
        <div style="margin-left:35px;">
            <a href="/dash/follow/request/{{ empresa.user_id }}"><div class="empresa-consulta" style="margin-bottom:8px;">Fan</div></a>
            <a href="#" ><div class="empresa-consulta" style="margin-bottom:8px;">Recomendar</div></a>
            <a href="/social/consulta_a_empresa/{{ empresa.user_id }}"><div class="empresa-consulta" style="margin-bottom:8px;">Enviar consulta</div></a>
        </div>
    </div>
</div>
{% endblock pepe %}
