{% extends "dash/dashboard.html" %}

{% load dash_filters %}

{% block dashboard %}
    <div class="dashboard-list-items">
        {% for item in recomendaciones %}
            <div class="item-content">
                <div class="item-header">
                    <div class="item-topico item-topico-{{ item.topico|unicode|split:" "|first|lower }}" title="{{ item.topico|unicode|split:" "|first }}"></div>
                    <div class="item-nombre"><a href="/items/item/{{ item.id }}">{{ item }}</a></div>
                    <div class="item-score">
                        <img src="{{ STATIC_URL }}images/dashboard-content-item-header-score.png" class="item-score-image" alt="Score">
                        {{ item.persona_set.count }}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item-body">
                    <div class="item-image" title="Imagen ilustrativa del item">
                        {% if item.mis_imagenes.count %}
                            <img src="{{ item.first_image }}" alt="Score">
                        {% else %}
                            <img src="{{ STATIC_URL }}images/298.png" alt="Score">
                        {% endif %}
                    </div>
                    <div class="item-descripcion">
                        Te recomendo este item:
                        <ul>
                            {% for recomendation in user.recomendaciones_recibidas.all %}
                                {% if item == recomendation.item %}
                                    <li class="recomendacion-destino"><a href="/dash/logbook/{{ recomendation.user_origen.id }}">{{ recomendation.user_origen.first_name }} {{ recomendation.user_origen.last_name }}</a> el {{ recomendation.fecha }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item-footer"></div>
                </div>
        {% endfor %}
    </div>
{% endblock dashboard %}
