{% extends "dash/sidebar.html" %}

{% load dash_filters avatar_tags%}


{% block sidebar_user_info %}
<div class="sidebar-user">
    <div class="user-name">{{ empresa.user.first_name }} {{ empresa.user.last_name }}</div>
    {% block sidebar_user_info_avatar %}
    <div class="logbook-user-image">
        <div class="thumbnail">
            <img src="{% avatar_url empresa.user 100 %}" alt="Logo" />
        </div>
    </div>
    {% endblock sidebar_user_info_avatar %}
    {% block user_range %}{% endblock %}
</div>
{% endblock sidebar_user_info %}


{% block sidebar_stats %}
    <div class="sidebar-stadistic">
        <a href="#">
            <div class="stadistic-fan sidebar-stadistic-item" title="Podés consultar de que items sos Fan">
                <div class="stadistic-num">{{ empresa.user.followers.count }}</div>
                <div class="stadistic-nom">Sus Fan{% if empresa.user.followers.count > 1 %}s{% endif %}</div>
            </div>
        </a>
        <a href="#">
            <div class="stadistic-recomendations sidebar-stadistic-item" title="Podés consultar cuantas recomendaciones hiciste y a quien">
                <div class="stadistic-num">
                    #
                </div>
                <div class="stadistic-nom">Sus recomendaciones</div>
            </div>
        </a>
    </div>
{% endblock sidebar_stats %}

{% block sidebar_indicators %}{% endblock sidebar_indicators %}

{% block boton %}
<div class="sidebar-follow-user">
    <div style="margin-left:35px;">
        <a href="/dash/follow/request/{{ empresa.user_id }}"><div class="empresa-consulta" style="margin-bottom:8px;">Fan</div></a>
        <a href="#" ><div class="empresa-consulta" style="margin-bottom:8px;">Recomendar</div></a>
        <a href="/social/consulta_a_empresa/{{ empresa.user_id }}"><div class="empresa-consulta" style="margin-bottom:8px;">Enviar consulta</div></a>
    </div>
</div>
{% endblock boton %}
