{% load dash_filters %}

<div class="sidebar-content">
    <div class="sidebar-user">
        <span class="user-name">{{ user.first_name }} {{ user.last_name }}</span>
        <div class="user-stars">
            <ul>
                {% for estrella in user.persona.cantidad_estrellas %}
                    <li class="user-star"><img src="{{ STATIC_URL }}images/item-ratings.png" alt="Star" /></li>
                {% endfor %}
                {% with cant_estrellas=5|subtract:user.persona.get_cant_estrellas %}
                    {% for i in cant_estrellas|range %}
                        <li class="user-star"><img src="{{ STATIC_URL }}images/item-ratings-blanca.png" alt="Star" /></li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>
    </div>
    <div class="sidebar-stadistic">
        <a href="/dash/fans/">
            <div class="stadistic-fan sidebar-stadistic-item" title="Podés consultar de que items sos Fan">
                <div class="stadistic-num">{{ user.persona.items.count }}</div>
                <div class="stadistic-nom">Fan{% if user.persona.items.count > 1 %}s{% endif %}</div>
            </div>
        </a>
        <a href="/dash/recomendated/">
            <div class="stadistic-recomendations sidebar-stadistic-item" title="Podés consultar cuantas recomendaciones hiciste y a quien">
                <div class="stadistic-num">
                    {{ user.recomendaciones_enviadas.count }}
                </div>
                <div class="stadistic-nom">Mis recomendaciones</div>
            </div>
        </a>
        <a href="/dash/comments/">
            <div class="stadistic-comments sidebar-stadistic-item" title="Podés consultar los items que has comentado">
                <div class="stadistic-num">{{ user.comentarios_realizados.count }}</div>
                <div class="stadistic-nom">Comentario{% if user.comentarios_realizados.count > 1 %}s{% endif %}</div>
            </div>
        </a>
    </div>
    <div class="sidebar-menu-indicators">
        <a href="{% url 'social-mensajes' %}">
            <div class="menu-indicators" title="Revisá tus mensajes recibidos y enviados"><div class="mini-img-msg"></div>Mensajes
                {% if mensajes_nolidas > 0 %}({{ mensajes_nolidas }}){% endif %}
            </div>
        </a>
        <a href="/social/eventos/">

            <div class="menu-indicators" title="Revisá los eventos que creaste y a los cuales estas invitado"><div class="mini-img-event"></div>Eventos
                {% if eventos_noleidos > 0 %}({{ eventos_noleidos }}){% endif %}
            </div>
        </a>
        <a href="/social/user_main_notification/">
            <div class="menu-indicators" title="Revisá cuales son tus notificaciones de parte de tus productos favoritas"><div class="mini-img-notify"></div>Notificaciones
                {% if notificaciones_noleidas > 0 %}({{ notificaciones_noleidas }}){% endif %}
            </div>
        </a>
        <a href="/dash/recomendation/">
            <div class="menu-indicators" title="Revisá las recomendaciones que te hicieron los usuarios que seguís"><div class="mini-img-recom"></div>Recomendaciones
                {% if recomendaciones_noleidas > 0 %}({{ recomendaciones_noleidas }}){% endif %}
            </div>
        </a>
        <a href="#">
            <div class="menu-indicators" title="ASHDJKASHDJK"><div class="mini-img-recom"></div>Ejemplo
                {{ pepe }}
                {{ juan }}
            </div>
        </a>
    </div>
    <div class="sidebar-new-item">
        {% block crear %}
            <a href="/items/item/register/"><div class="new-item-buttom" title="Crea un item del topico que gustes">Crear Item</div></a>
        {% endblock %}
    </div>
    <div class="clear"></div>
</div>